<div *ngIf="cardOptions" class="card-container" [class.active]="cardForm.valid">
  <div class="card-header" [class.active-header]="cardForm.valid">
    <span class="card-title">
      {{ cardTitle }}
    </span>
  </div>
  <div class="card-body">
    <form [formGroup]="cardForm">
      <mat-radio-group class="radio-group" formControlName="options">
        <mat-radio-button
          class="radio-btn"
          *ngFor="let option of cardOptions"
          value="{{ option }}"
          (click)="submitForm(option)"
          >{{ option }}
        </mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
</div>
<div
  *ngIf="!cardOptions"
  class="card-container"
  [class.active]="cardForm.valid"
>
  <div class="card-header" [class.active-header]="cardForm.valid">
    <span class="card-title">
      {{ cardTitle }}
    </span>
  </div>
  <div class="card-body">
    <form [formGroup]="cardForm">
      <mat-radio-group class="radio-group" formControlName="options">
        <mat-radio-button
          class="radio-btn"
          value="cardTitle"
          (click)="submitForm('')"
          >{{cardTitle}}
        </mat-radio-button>
      </mat-radio-group>
    </form>
  </div>
</div>
